#shopping-cart-img {
  max-width: 100px;
}

#img-header {
  max-width: 100%;
}

#title-text {
  font-family: 'Amatica SC', cursive;
  text-align: center;
  font-size: 100px;
  padding-bottom: 50px;
}

.header-text {
  font-family: 'Amatica SC', cursive;
  font-size: 80px;
}

.product-tile {
  padding-top: 50px;
}
