<nav class="navbar navbar-default navbar-fixed-top navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="nav">{{#link-to 'index'}}<span class="glyphicon glyphicon-home"></span>  posey's flower shop{{/link-to}}</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'cart'}}<span class="glyphicon glyphicon-shopping-cart"></span>{{/link-to}}</li>
        <li>{{#link-to 'admin'}}admin{{/link-to}}</li>
    </ul>
  </div>
</nav>

<img id="img-header" src="http://www.freewebheaders.com/wordpress/wp-content/gallery/flowers/colorful-flowers-assortment-website-header.jpg">

<div class="container">
  {{outlet}}
</div>
